* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --product-white: #fff;
  --product-red: #ee1212;
  --product-green: #3b990f;
  --product-gray: #808080;
  --product-brown: #413e01;
  --product-yellow: #fffa87;
  --background-gray: #ecebeb;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

img {
  max-width: 450px;
  margin: auto;
}

.product-card {
  border: 2px solid rgba(128, 128, 128, 0.3);
  background-color: var(--product-white);
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 10px;
  position: relative;
}

p {
  font-size: 16px;
  margin-top: 15px;
}

.more-info {
  margin-top: 15px;
  display: inline-block;
  text-decoration: underline;
  font-style: italic;
  text-align: center;
  font-size: 14px;
  color: var(--product-gray);
}

.shipping-storage {
  background-color: var(--background-gray);
  margin-top: 15px;
  padding: 10px;
  width: auto;
  height: auto;
  border-radius: 5px;
  position: relative;
}

.shipping-info {
  display: inline-block;
  background-color: var(--product-white);
  color: var(--product-red);
  border: 2px solid var(--product-red);
  padding: 8px 5px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.storage-info {
  display: inline-block;
  font-weight: bold;
  color: var(--product-green);
  text-decoration: underline;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.pricing {
  margin-top: 15px;
  position: relative;
}

.price-name {
  font-weight: bold;
}

.full-price {
  display: inline-block;
  color: var(--product-gray);
  text-decoration: line-through;
  position: absolute;
  top: 20px;
  left: 15px;
}

.discount-price {
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 30px;
}

.cart {
  position: relative;
}

.add-to-cart {
  display: inline-block;
  border-radius: 25px;
  padding: 13px 162px;
  background-color: var(--product-red);
  color: var(--product-white);
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  position: absolute;
  top: 500px;
}
